
/*Quitar el subrayado de los enlaces */

a.nounderline:link   
{   
 text-decoration:none;   
}   


#superior{

			display:block;
				width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
				left: 0; /* Posicionamos la cabecera al lado izquierdo */
				top: 0; /* Posicionamos la cabecera pegada arriba */
				position: fixed; /* Hacemos que la cabecera tenga una posición fija */
				
				
				
				
			background: rgba(255,252,252,1);
			/* Old Browsers */background: -moz-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(214,210,210,1) 2%, rgba(158,146,146,0.92) 40%, rgba(71,66,65,0.85) 76%, rgba(38,36,35,0.8) 100%);
			 /* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,252,252,1)), color-stop(2%, rgba(214,210,210,1)), color-stop(40%, rgba(158,146,146,0.92)), color-stop(76%, rgba(71,66,65,0.85)), color-stop(100%, rgba(38,36,35,0.8)));
			/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(214,210,210,1) 2%, rgba(158,146,146,0.92) 40%, rgba(71,66,65,0.85) 76%, rgba(38,36,35,0.8) 100%);
			 /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(214,210,210,1) 2%, rgba(158,146,146,0.92) 40%, rgba(71,66,65,0.85) 76%, rgba(38,36,35,0.8) 100%);
			 /* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(255,252,252,1) 0%, rgba(214,210,210,1) 2%, rgba(158,146,146,0.92) 40%, rgba(71,66,65,0.85) 76%, rgba(38,36,35,0.8) 100%);
			 /* IE 10+ */background: linear-gradient(to bottom, rgba(255,252,252,1) 0%, rgba(214,210,210,1) 2%, rgba(158,146,146,0.92) 40%, rgba(71,66,65,0.85) 76%, rgba(38,36,35,0.8) 100%);
			/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#262423', GradientType=0 );
			/* IE6-9 */

}

/*Comenzar a hacer el menú*/


/*1. Quitarle todos los estilos a los enlaces*/

	 #superior ul{
			list-style-type:none;
			margin:0;
			padding:0;

}

/*2. Flotarlos a la izquierda*/

 #superior ul li{

		float:right;
		
		
}

/*3. Hacer que toda la zona del enlace sea clikable*/


 #superior ul li a {
    display: block;
   
    background-color: #dddddd;
}

/*clase autogenerada para los botones de registro*/

								.button{text-decoration:none; text-align:center; 
				 padding:24px 29px; 
				 border:solid 4px #004F72; 
				 -webkit-border-radius:5px;
				 -moz-border-radius:5px; 
				 border-radius: 5px; 
				 font:20px Arial, Helvetica, sans-serif; 
				 font-weight:bold; 
				 color:#283173; 
				 background-color:#dfe8eb; 
				 background-image: -moz-linear-gradient(top, #dfe8eb 0%, #5e6669 100%); 
				 background-image: -webkit-linear-gradient(top, #dfe8eb 0%, #5e6669 100%); 
				 background-image: -o-linear-gradient(top, #dfe8eb 0%, #5e6669 100%); 
				 background-image: -ms-linear-gradient(top, #dfe8eb 0% ,#5e6669 100%); 
				 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e6669', endColorstr='#5e6669',GradientType=0 ); 
				 background-image: linear-gradient(top, #dfe8eb 0% ,#5e6669 100%);   
				 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
				 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
				 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
				 opacity:0.9; 
				 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
				 filter: alpha(opacity=90); 
				 text-shadow: 0px 0px 14px #bababa; 
				 filter: dropshadow(color=#bababa, offx=0, offy=0);  -webkit-transition: background 0s linear;
				 -moz-transition:  background 0s linear;
				 -o-transition:  background 0s linear;
				 transition:  background 0s linear;}.button:hover{
				 padding:24px 29px; 
				 border:solid 4px #004F72; 
				 -webkit-border-radius:4px;
				 -moz-border-radius:4px; 
				 border-radius: 4px; 
				 font:20px Arial, Helvetica, sans-serif; 
				 font-weight:bold; 
				 color:#283173; 
				 background-color:#ffffff; 
				 background-image: -moz-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -webkit-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -o-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -ms-linear-gradient(top, #ffffff 0% ,#c8d1d4 100%); 
				 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d1d4', endColorstr='#c8d1d4',GradientType=0 ); 
				 background-image: linear-gradient(top, #ffffff 0% ,#c8d1d4 100%);   
				 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
				 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
				 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
				  
				 }.button:active{
				 padding:24px 29px; 
				 border:solid 4px #004F72; 
				 -webkit-border-radius:4px;
				 -moz-border-radius:4px; 
				 border-radius: 4px; 
				 font:20px Arial, Helvetica, sans-serif; 
				 font-weight:bold; 
				 color:#283173; 
				 background-color:#ffffff; 
				 background-image: -moz-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -webkit-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -o-linear-gradient(top, #ffffff 0%, #c8d1d4 100%); 
				 background-image: -ms-linear-gradient(top, #ffffff 0% ,#c8d1d4 100%); 
				 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8d1d4', endColorstr='#c8d1d4',GradientType=0 ); 
				 background-image: linear-gradient(top, #ffffff 0% ,#c8d1d4 100%);   
				 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
				 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
				 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
				  
				 }
		/*fin clase autogenerada*/
		
		
		
		
		
		
		
		
		
		/*Hacer que la imagen entre con los enlaces*/
		
		 #superior img{
		 float:left;
		height:80px;
		width:200px;
		}
		
